openapi: 3.0.3
info:
  title: Price Lab Authentication Price Management API
  description: 'REST API for the Price Lab retail pricing platform: product and category master data, bulk data import (sales, stock, replenishment, competitor prices), price recommendations, competitor price scraping and policies, electronic shelf labels (ESL) and flash strategies, and store-level price management. Derived from the provider''s published endpoint index (price-lab.readme.io/llms.txt).'
  version: 1.0.0
  contact:
    name: Price Lab
    url: https://pricelabsolutions.com
servers:
- url: https://backend.pricelab.com.pe/api
  description: Production
security:
- bearerAuth: []
tags:
- name: Price Management
paths:
  /productstores/export_for_batch/:
    get:
      operationId: exportProductStores
      summary: Export product-store data for a batch
      tags:
      - Price Management
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /pricemanagers/create_promotion_massive/:
    post:
      operationId: createPromotionBatch
      summary: Create promotions in batch
      tags:
      - Price Management
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /pricemanagers/create_promotion_unit_store/:
    post:
      operationId: createPromotionUnit
      summary: Create a promotion for a single store unit
      tags:
      - Price Management
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /productstores/:
    get:
      operationId: listProductStores
      summary: List product prices by store
      tags:
      - Price Management
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /productstores/create_or_update/:
    get:
      operationId: initProductStores
      summary: Assign products to a store (create or update)
      tags:
      - Price Management
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained via POST /login/ and refreshed via POST /token/refresh/
