openapi: 3.0.3
info:
  title: Price Lab Authentication Recommendations API
  description: 'REST API for the Price Lab retail pricing platform: product and category master data, bulk data import (sales, stock, replenishment, competitor prices), price recommendations, competitor price scraping and policies, electronic shelf labels (ESL) and flash strategies, and store-level price management. Derived from the provider''s published endpoint index (price-lab.readme.io/llms.txt).'
  version: 1.0.0
  contact:
    name: Price Lab
    url: https://pricelabsolutions.com
servers:
- url: https://backend.pricelab.com.pe/api
  description: Production
security:
- bearerAuth: []
tags:
- name: Recommendations
paths:
  /pricemachines/response_recommendation/:
    post:
      operationId: respondToRecommendation
      summary: Accept or reject price recommendations
      tags:
      - Recommendations
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /pricemachines/export_for_batch/:
    get:
      operationId: exportRecommendations
      summary: Export price recommendations for a batch
      tags:
      - Recommendations
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /pricemachines/export_history_prices/:
    get:
      operationId: exportPriceHistory
      summary: Export historical prices
      tags:
      - Recommendations
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained via POST /login/ and refreshed via POST /token/refresh/
