openapi: 3.0.3
info:
  title: Price Lab Authentication Products API
  description: 'REST API for the Price Lab retail pricing platform: product and category master data, bulk data import (sales, stock, replenishment, competitor prices), price recommendations, competitor price scraping and policies, electronic shelf labels (ESL) and flash strategies, and store-level price management. Derived from the provider''s published endpoint index (price-lab.readme.io/llms.txt).'
  version: 1.0.0
  contact:
    name: Price Lab
    url: https://pricelabsolutions.com
servers:
- url: https://backend.pricelab.com.pe/api
  description: Production
security:
- bearerAuth: []
tags:
- name: Products
paths:
  /products/:
    get:
      operationId: listProducts
      summary: List products
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
    post:
      operationId: createProduct
      summary: Create a product
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /products/{id}/:
    get:
      operationId: getProduct
      summary: Retrieve a product
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: updateProduct
      summary: Edit a product
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      operationId: deleteProduct
      summary: Delete a product
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
  /products/update_price_cost_for_lote/:
    post:
      operationId: updatePriceAndCostBatch
      summary: Update costs and prices in batch
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /products/update_price_product_for_lote/:
    post:
      operationId: updatePriceBatch
      summary: Update product prices in batch
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /products/update_cost_product_for_lote/:
    post:
      operationId: updateCostBatch
      summary: Update product costs in batch
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
  /products/update_product_info_for_lote/:
    post:
      operationId: updateProductInfoBatch
      summary: Create and update product data and status in batch
      tags:
      - Products
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized - missing or invalid bearer token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained via POST /login/ and refreshed via POST /token/refresh/
